{
    "report_type":"Ground Station HTML",
    "base_output_directory":"/var/www/html/wallops",
    "timezone":"US/Eastern",
    "inviews":"True",
    "start_day":"0",
    "end_day":"10",
    "ground_station": {
        "name":"Wallops",
        "lat":"37.854886", 
        "lon":"-75.512936", 
        "el_meters":"3.8", 
        "tz":"US/Eastern",
        "minimum_elevation_angle":"0.0",
        "show_operations_hours":"False"
    },
    "satellites": [
        {
            "name":"STF-1",
            "number":"43852",
            "url":"https://celestrak.com/NORAD/elements/gp.php?CATNR=43852"
        },
        {
            "name":"SHIELDS",
            "number":"43850",
            "url":"https://celestrak.com/NORAD/elements/gp.php?CATNR=43850"
        }
    ]
}
